.ubicacion{
    margin-bottom: -35px;
    padding-top: 9px;
    padding-bottom: 5px;
    text-align: center;
    font-family: "verdana";
}

.ubi{
   margin-bottom: 30px;
   
    padding-bottom: 5px;
    text-align: justify;   
}

